<section id="bestsellers">
  <article class="flex-center">
    <h2>Trending products</h2>
    <p>View products with the most number of sales in last months</p>
  </article>

  <div class="card-wrapper">
    <app-bestseller-cards class="bestseller" imgSource="assets/example.png" [price]="59.99"
                          description="Shoes MH150"></app-bestseller-cards>
    <app-bestseller-cards class="bestseller" imgSource="assets/tshirt.jpg" [price]="29.99"
                          description="T-Shirt"></app-bestseller-cards>
    <app-bestseller-cards class="bestseller" imgSource="assets/necklace.jpeg" [price]="199.99"
                          description="Gold necklace"></app-bestseller-cards>
  </div>
</section>
