.container {
  width: 100%;
  padding-top: 64px;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 64px);
  justify-content: center;
  align-items: center;
}

.canvas-wrapper {
  width: 50%;
  height: 70%;
}

#canvas {
  width: 90%;
  height: 100%;
  border-radius: 40px;
}

.info {
  width: 50%;
  flex-direction: column;

  h2 {
    font-size: 2rem;
  }
}

.bold {
  font-weight: 700;
}

.font-1 {
  font-size: 1rem;
}

.font-07 {
  font-size: .9rem;
}

button {
  margin-top: 1rem;
}
