<!--<header>-->
<!--  <div class="logo">PhotogrametricShop</div>-->
<!--  <nav>-->
<!--    <a>Category</a>-->
<!--    <a></a>-->
<!--    <a>Ingredients</a>-->
<!--    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>-->
<!--    <mat-button-toggle>Login</mat-button-toggle>-->
<!--  </nav>-->
<!--</header>-->
<header>
  <mat-toolbar>
    <button mat-icon-button class="mobile-menu" aria-label="Mobile menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Photogrametric shop</span>
    <span class="example-spacer"></span>
    <nav>
      <a>Bestsellers</a>
      <a>Categories</a>
      <a>Contact</a>
      <input type="text" class="rounded" aria-label="Input to search products" placeholder="Search products">
      <button mat-icon-button aria-label="Search products">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button aria-label="Shopping list">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <mat-button-toggle aria-label="Login button">Login</mat-button-toggle>
    </nav>
  </mat-toolbar>
</header>
