form {
  flex-direction: column;
  height: 100%;
}

mat-form-field {
  width: 100%;
}

mat-button-toggle {
  width: 30%;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  padding-top: 1rem;
  transition: .3s ease-in-out;
}

button:hover {
  color: gold;
}

h3 {
  font-size: 2rem;
  color: white;
  padding-bottom: 1rem;
}
