footer {
  background-color: black;
  height: calc(80vh - 64px);
  display: flex;
  flex-direction: row;
}

footer img {
  width: 40%;
  background-color: #339933;
}

article {
  background-color: #D0DCE4;
  width: 60%;
  padding: 3rem;
}

h3 {
  font-size: 2rem;
}

mat-divider {
  border-top-width: 5px;
  border-top-color: black;
}

article p {
  font-size: 0.9rem;
}

.pt-2 {
  padding-top: 2rem;
}

.bold {
  font-weight: 700;
}
