<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="sidenav-content">
    <app-bestseller-cards></app-bestseller-cards>
    <app-bestseller-cards></app-bestseller-cards>
    <app-bestseller-cards></app-bestseller-cards>
    <app-bestseller-cards></app-bestseller-cards>
    <app-bestseller-cards></app-bestseller-cards>
    <app-bestseller-cards></app-bestseller-cards>
    <app-bestseller-cards></app-bestseller-cards>
    <app-bestseller-cards></app-bestseller-cards>
    <app-bestseller-cards></app-bestseller-cards>
    <app-bestseller-cards></app-bestseller-cards>
    <app-bestseller-cards></app-bestseller-cards>
    <app-bestseller-cards></app-bestseller-cards>
  </div>

</mat-drawer-container>

<app-contact></app-contact>
