<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="sidenav-content">
    <ng-container *ngFor="let product of products">
      <app-bestseller-cards class="bestseller" [product]="product"></app-bestseller-cards>
    </ng-container>
  </div>

</mat-drawer-container>

<div class="button-wrapper flex-center">
  <button mat-raised-button color="primary">Load more ...</button>
</div>

<app-contact></app-contact>
